body{
    font-family: cursive;
    color: white;
    width: 100vw;
    padding: 0%;
    margin: 0%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #151b29;
    padding: 0 1rem;
    position: relative;
}
.navbar h1{
    font-size: 1.6rem;
}
.navlink{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navlink li{
    margin: 2px 14px;
    font-size: 1.2rem;
    list-style: none;
    padding: 0.5rem;
}
.navlink li:hover{
    background-color: whitesmoke;
    border-radius: 1.3rem;
    transition: 0.3s ease;
}
.navlink li:hover a {
    color: #151b29;
}
.Services{
    position: relative;
}
.Services:hover .Dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Services:hover{
    cursor: pointer; 
}
.Dropdown{
    display: none;
    background-color: #151b29;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: max-content;
}
.Dropdown li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.menu{
    display: none;
    user-select: none;
    font-size: 1.5rem;
}
input[type="checkbox"]{
    display: none;
}
button{
    font-family: inherit;
    color:white;
    border-radius: 30%;
    border: 2px solid white;
    background: none;
    padding: 1em 1.5em;
    transition: all 0.25s;
    margin: 0 1.3em;
    transition: all 0.25s;
}
button:hover{
    color: white;
    border-color: white;
    box-shadow: 0 0.7em 0.5em -0.4em wheat;
    cursor: pointer;
    transform: translateY(-0.3em);
}
@media(max-width:715px){
    .menu{
        display: block;
        cursor: pointer;
    }
    .navlink{
        display: none;
    }
    input[type="checkbox"]:checked ~  .navlink{
        position: absolute;
        top:3.1rem;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #151b29;
        width: 100%;
    }
}
.img-gallery{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}
img{
    width: 31%;
    height: 70vh;
    margin-top: 1rem;
}